# Analyzing US Census Data for HigherME
**Nava Roohi ,Cole Bailey, Filipp Krasovsky**

In [1]:
import pandas as pd

In [52]:
df = pd.read_csv("new_df.csv")
df.head()

,YEAR,MULTYEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,STRATA,GQ,...,EDUCD,DEGFIELD,DEGFIELDD,DEGFIELD2,DEGFIELD2D,EMPSTAT,EMPSTATD,OCC,IND,INCWAGE
0,2020,2019,202003,831794,2019000366232,13.39,2020008317943,6,190406,1,...,63,0,0,0,0,2,20,5400,6880,13162
1,2020,2016,202003,5766905,2016001119934,28.84,2020057669053,48,540048,1,...,65,0,0,0,0,1,10,9130,9070,47138
2,2020,2018,202003,2702049,2018000367760,15.45,2020027020493,22,240022,1,...,63,0,0,0,0,1,10,2752,8561,36079
3,2020,2017,202003,2509076,2017001008029,38.11,2020025090763,20,60220,1,...,71,0,0,0,0,3,30,0,0,0
4,2020,2019,202003,886494,2019000936167,18.54,2020008864943,6,670906,1,...,63,0,0,0,0,3,30,0,0,0

## Data Cleaning

#### Step 1. State Extraction from FIP Numbers

In [56]:
fips = {
1:"Alabama"
,2:"Alaska"
,4:"Arizona"
,5:"Arkansas"
,6:"California"
,8:"Colorado"
,9:"Connecticut"
,10:"Delaware"
,11:"District of Columbia"
,12:"Florida"
,13:"Georgia"
,15:"Hawaii"
,16:"Idaho"
,17:"Illinois"
,18:"Indiana"
,19:"Iowa"
,20:"Kansas"
,21:"Kentucky"
,22:"Louisiana"
,23:"Maine"
,24:"Maryland"
,25:"Massachusetts"
,26:"Michigan"
,27:"Minnesota"
,28:"Mississippi"
,29:"Missouri"
,30:"Montana"
,31:"Nebraska"
,32:"Nevada"
,33:"New Hampshire"
,34:"New Jersey"
,35:"New Mexico"
,36:"New York"
,37:"North Carolina"
,38:"North Dakota"
,39:"Ohio"
,40:"Oklahoma"
,41:"Oregon"
,42:"Pennsylvania"
,44:"Rhode Island"
,45:"South Carolina"
,46:"South Dakota"
,47:"Tennessee"
,48:"Texas"
,49:"Utah"
,50:"Vermont"
,51:"Virginia"
,53:"Washington"
,54:"West Virginia"
,55:"Wisconsin"
,56:"Wyoming"
,61:"Maine-New Hampshire-Vermont"
,62:"Massachusetts-Rhode Island"
,63:"Minnesota-Iowa-Missouri-Kansas-Nebraska-S.Dakota-N.Dakota"
,64:"Maryland-Delaware"
,65:"Montana-Idaho-Wyoming"
,66:"Utah-Nevada"
,67:"Arizona-New Mexico"
,68:"Alaska-Hawaii"
,72:"Puerto Rico"
,97:"Military/Mil. Reservation"
,99:"State not identified"
}

In [58]:
#map to a new variable called "State"
df['State'] = df['STATEFIP'].apply(lambda x:fips[x])
df.head()

,YEAR,MULTYEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,STRATA,GQ,...,DEGFIELD,DEGFIELDD,DEGFIELD2,DEGFIELD2D,EMPSTAT,EMPSTATD,OCC,IND,INCWAGE,State
0,2020,2019,202003,831794,2019000366232,13.39,2020008317943,6,190406,1,...,0,0,0,0,2,20,5400,6880,13162,California
1,2020,2016,202003,5766905,2016001119934,28.84,2020057669053,48,540048,1,...,0,0,0,0,1,10,9130,9070,47138,Texas
2,2020,2018,202003,2702049,2018000367760,15.45,2020027020493,22,240022,1,...,0,0,0,0,1,10,2752,8561,36079,Louisiana
3,2020,2017,202003,2509076,2017001008029,38.11,2020025090763,20,60220,1,...,0,0,0,0,3,30,0,0,0,Kansas
4,2020,2019,202003,886494,2019000936167,18.54,2020008864943,6,670906,1,...,0,0,0,0,3,30,0,0,0,California

### Step 2. Breakdown by Race, Initial EDA

In [61]:
race_map ={
    1: "White"
    ,2: "Black/African American"
    ,3: "American Indian or Alaska Native"
    ,4: "Chinese"
    ,5: "Japanese"
    ,6: "Other Asian or Pacific Islander"
    ,7: "Other race, nec"
    ,8: "Two major races"
    ,9: "Three or more major races"
}
df['RACE'].apply(lambda x: race_map[x]).value_counts()

White                               150865
Black/African American               19509
Other race, nec                       7895
Two major races                       7688
Other Asian or Pacific Islander       7619
Chinese                               2739
American Indian or Alaska Native      2316
Three or more major races              883
Japanese                               486
Name: RACE, dtype: int64